<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登陆友邻</title>
	
        <link rel="stylesheet" href="../static/css/jquery.mobile-1.4.5.css">
	<link rel="stylesheet" href="../static/css/style.css">
        <meta name="viewport" content="width=device-width initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" >
        <link rel="stylesheet" type="text/css" href="../static/css/logup-login.css">
        <script src="../static/js/jquery-1.11.3.js"></script>
        <script src="../static/js/jquery.mobile-1.4.5.js"></script>
        <script src="../static/js/event-handler.js"></script>


</head>
<body>
	<section id="login-page" data-role="page">
	  <header data-role="header"  data-theme="b" ><h1>开始探索之旅</h1></header>
	  <div data-role="content" class="content">
	    <p style="backg"><font color="#2EB1E8" >登录友邻</font></p>
	        <form id="loginform">
	            <input type="text" name="username" id="username" placeholder="请输入/手机号/邮箱"/><br>
	            <input type="password" name="password" id="password" placeholder="请输入密码" />
	                    <fieldset data-role="controlgroup" >
	                        <input type="checkbox" name="checkbox-1" id="checkbox-1" class="custom" />
	                        <label for="checkbox-1">保持登录状态</label>
	                    </fieldset>
	            <a href="logup.html" data-role="button" id="register" data-theme="e">注册</a>
	          
                    <input id="submit" data-theme="b" value="登录">
	        </form>
	  </div>
 	       <!--  <footer data-role="footer" ><h1> FriendsAround ©2016 (FriendsAround.com)</h1></footer> -->
		</section>
</body>
</html>